<VirtualHost *:80>

        ServerName data.gov.uk
        ServerName co-prod2.dh.bytemark.co.uk

        <Location /server-status>
            SetHandler server-status

            Order Deny,Allow
            Deny from all
            Allow from 127.0.0.1
        </Location>

        #Make sure Drupal API is protected
        <Location /services >
          AuthUserFile /var/www/api_users
          AuthName "Restricted"
          AuthType Basic
          require valid-user
        </Location>

        # Inventory setup
        Alias /inventory/template /var/www/inventory-template
        <Directory /var/www/inventory-template>
            FileETag MTime Size
            Options FollowSymLinks MultiViews
            AllowOverride All
            Order allow,deny
            allow from all
            SetEnv CKAN_CONFIG_FILE /var/ckan/ckan.ini
        </Directory>

        # CKAN Cached resources
        Alias /assets /vagrant/src/shared_dguk_assets/assets
        <Directory /vagrant/src/shared_dguk_assets/assets/>
                FileETag MTime Size
                Options FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>

        # CKAN Resource Store
        Alias /data/resource /mnt/shared/ckan_resource_store/
        <Directory /mnt/shared/ckan_resource_store/>
                FileETag MTime Size
                Options FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>

        # CKAN Database dumps
        Alias /data/dumps /mnt/shared/ckan_dumps/
        <Directory /mnt/shared/ckan_dumps/>
                FileETag MTime Size
                Options Indexes FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>

        # CKAN Database analysis
        Alias /data/dump_analysis /mnt/shared/ckan_dump_analysis/
        <Directory /mnt/shared/ckan_dump_analysis/>
                FileETag MTime Size
                Options Indexes FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>

        # CKAN paths
        WSGIScriptAlias / /var/ckan/wsgi_app.py
        WSGIScriptAlias /inventory/ /var/ckan/wsgi_app.py/
        WSGIScriptAlias /unpublished/ /var/ckan/wsgi_app.py/
        WSGIScriptAlias /data /var/ckan/wsgi_app.py
        WSGIScriptAlias /dataset /var/ckan/wsgi_app.py
        WSGIScriptAlias /publisher /var/ckan/wsgi_app.py
        WSGIScriptAlias /css /var/ckan/wsgi_app.py
        WSGIScriptAlias /images /var/ckan/wsgi_app.py
        WSGIScriptAlias /scripts /var/ckan/wsgi_app.py
        WSGIScriptAlias /api /var/ckan/wsgi_app.py
        WSGIScriptAlias /geoserver /var/ckan/wsgi_app.py
        WSGIScriptAlias /harvest /var/ckan/wsgi_app.py
        WSGIScriptAlias /ckanext /var/ckan/wsgi_app.py
        WSGIScriptAlias /ckan-admin /var/ckan/wsgi_app.py
        WSGIScriptAlias /qa /var/ckan/wsgi_app.py
        WSGIScriptAlias /revision /var/ckan/wsgi_app.py
        WSGIScriptAlias /feeds /var/ckan/wsgi_app.py
        WSGIScriptAlias /img /var/ckan/wsgi_app.py
        WSGIScriptAlias /csw /var/ckan/wsgi_app.py
        WSGIScriptAlias /font /var/ckan/wsgi_app.py
        WSGIScriptAlias /organization /var/ckan/wsgi_app.py
        WSGIScriptAlias /data-standard /var/ckan/wsgi_app.py

        # CKAN / OS Widget map tile proxy
        ProxyPass /geoserver/ http://osinspiremappingprod.ordnancesurvey.co.uk/geoserver/
        ProxyPassReverse /geoserver/ http://osinspiremappingprod.ordnancesurvey.co.uk/geoserver/

        # pass authorization info on (needed for rest api)
        WSGIPassAuthorization On

  ErrorDocument 404 /404
  ErrorLog /var/log/ckan/ckan-apache.error.log
  CustomLog /var/log/ckan/ckan-apache.custom.log combined
  # Possible values include: debug, info, notice, warn, error, crit,
  # alert, emerg.
  LogLevel warn

</VirtualHost>
